.ad-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-left: 22px;
  margin-right: 22px;
}

.ad-section img {
  height: 215px;
}

.ad-section img {
  border-radius: 20px;
}
