.catalog-grid {
  width: 93%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 45px;
  justify-content: center;
  justify-items: center; 
  margin: 20px auto;
}

.course-card {
  width: 100%;
  max-width: 405px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 0px;
  row-gap: 0px;
  border-width: 2px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.10);
  background-color: rgb(247, 246, 246);
  box-sizing: border-box;
}

.course-thumbnail {
  grid-column: span 3;
}

.thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
}

.course-name-box {
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  margin-top: 18px;
  display: flex;
  line-height: 1.2;
  grid-column: span 2;
}

.course-name {
  margin-top: 0;
}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  height: 70px;
}

.price-ammount-box {
  height: 50px;
  width: 80px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(200, 225, 249);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-style: solid;
  display: flex;
  justify-content: center; /* Центр по горизонтали */
  align-items: center;
}

.teg-box {
  font-size: 10px;
  font-weight: 600;
  height: 25px;
  margin-top: 4%;
  margin-bottom: 0;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
}

.teg-1,
.teg-2,
.teg-3 {
  text-align: center;
  height: 57%;
}

.teg-1 {
  border-right: 1px solid rgb(177, 177, 177);
  display: flex;
  justify-content: left;
}

.teg-1-text {
  background-color: rgb(9, 60, 213);
  border-radius: 5px;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;   
  color: white;
  width: 105px;
  height: 19px;
  margin-bottom: 10px;
}

.teg-1-text img {
  width: 13px;
  padding-left: 0;
  padding-right: 3%;
}

.teg-2 {
  border-right: 1px solid rgb(177, 177, 177);
  display: flex;
  justify-content: center;
}

.teg-2-text {
  display: flex;
  justify-content: center; 
  align-items: center;   
  color: rgb(55, 55, 55);
  width: 90px;
  height: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.teg-3 {
  display: flex;
  justify-content: right;
  margin-right: 3px;
}

.teg-3-text {
  display: flex;
  justify-content: center; 
  align-items: center;   
  color: rgb(55, 55, 55);
  width: 90px;
  height: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.course-description {
  height: 130px;
  grid-column: span 3; 
  text-align: justify;
  border-top: 1px solid rgb(177, 177, 177);
  display: flex;
}

.description-text {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  
  align-items: flex-start;
  justify-content: flex-start;
  
  padding-top: 10px;
  width: 100%;
}

.description-text p {
  margin: 0; 
}

.start-course {
  grid-column: span 3;
}

.start-button {
  font-size: 16px;
  font-weight: 540;
  color: white;
  background-color: rgb(79, 178, 61);
  width: 100%;
  height: 38px;
  border-width: 0;
  border-style: solid;
  border-radius: 17px;
}

@media (max-width: 400px) {
  .catalog-grid {
    gap: 50px;
  }

  .course-card {
    grid-template-columns: 1fr; 
    width: 360px;
  }

  .course-name-box {
    text-align: left;
    font-size: 14px;
    margin-right: 20px;
  }

  .price-ammount-box {
    font-size: 15px;
    margin-bottom: 5px;
    height: 40px;
    width: 70px;
    margin-top: 15px;
  }

  .teg-box {
    font-size: 9px;
  }

  .teg-1-text {
    width: 95px;
  }

  .teg-1-text img {
    height: 10px;
    padding-bottom: 1px;
  }

  .course-description {
    height: 105px;
  }

  .description-text {
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
  }

  .start-button {
    height: 35px;
    font-size: 16px;
  }
}

@media (max-width: 1250px) {
  .catalog-grid {
    margin: 50px auto 20px auto; }
  }