header{
  height: 78px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  position:fixed;
  top:0;
  left:0;
  right:0;

  padding:0 22px;

  z-index:100;

  background:rgba(255,255,255,0.85);
  backdrop-filter:blur(12px);

  border-bottom:1px solid rgba(0,0,0,0.06);

  box-shadow:0 10px 30px rgba(0,0,0,0.04);
}

.header-burger-btn {
  display: none;
  position: relative;
  width: 100px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: 2px;
  z-index: 2;

  -webkit-tap-highlight-color: transparent;
}

.header-burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
  top: 18.5px; /* (Высота кнопки 40 - высота палочки 3) / 2 */
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header-burger-btn span:nth-child(1){
  transform: translateY(-10px);
}

.header-burger-btn span:nth-child(2){
  transform: translateY(0px);
}

.header-burger-btn span:nth-child(3){
  transform: translateY(10px);
}

.header.open .header-burger-btn span {
  background-color: rgb(127, 0, 0);
}

.header.open .header-burger-btn span:nth-child(1){
  transform: translateY(0) rotate(45deg);
}

.header.open .header-burger-btn span:nth-child(2){
  opacity: 0;
}

.header.open .header-burger-btn span:nth-child(3){
  transform: translateY(0) rotate(-45deg);
}

.logo {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo-txt {
  width: 52px;
  height: 28px;

  background-color: rgb(36, 71, 174);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 500;

  border-radius: 4px;
}

.logo-txt {
  margin-top: 1px;
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  z-index: 9999;
  animation: confettiFly 1.5s ease-out forwards;
}

@keyframes confettiFly {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translate(var(--x), var(--y)) rotate(720deg);
    opacity: 0;
  }
}

.logo-icon {
  height: 30px;
}

.page-name {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 0px;
  margin-left: 0px;
}

.menu-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
  align-items: center;
}

.menu-button {
  font-size: 9px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 12px;
  transition:0.5s;
  cursor: pointer;
}

.menu-button img{
  height: 23px;
}

.menu-button:hover {
  background-color: #f5e2fb;
}

.menu-button.active {
  background-color: #f5e2fb; 
  cursor: default; 
}

.cart {
  width: 250px;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.profile a{
  text-decoration: none;
}

.cart-button {
  width: 60px;
  height: 60px;
  font-size: 9px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: start;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 12px;
  transition:0.5s;
  cursor: pointer;
  position: relative;
}

.cart-button img {
  height: 23px;
}

.cart-badge {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  color: #111;
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
  line-height: 1;
  padding-right: 10px;
}

@media (max-width: 900px) {
  header {
    height: 75px;
  }

  .logo-txt {
    font-weight: 500;
  }

  .logo-icon {
    height: 30px;
  }

  .page-name {
    font-size: 25px;
  }

  .header-burger-btn {
    display: block;
  }

  .cart {
    width: 140px;
    justify-content: flex-end;
  }

  .profile-button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }

  .menu-buttons-row {
    position: fixed;
    left: -95px;
    top: 0;
    width: 90px;
    height: 100dvh;
    display: block;
    padding: 90px 4px 20px 8px;
    background-color: white;
    transition: transform .5s;
    border: none; /* Сбрасываем все старые границы */
    border-right: 1px solid rgba(0, 0, 0, 0.1); /* Тонкая, едва заметная линия справа */
  
  /* Закругляем только правые углы */
    border-radius: 0 20px 20px 0; 
  
  /* Добавляем мягкую тень для объема */
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);

    display: flex;   /* Включаем flex для выравнивания содержимого */
    flex-direction: column; /* Элементы в колонку */
    align-items: center;    /* Центрируем элементы по горизонтали */
    justify-content: flex-start;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
  }

  .menu-button-box {
    margin-top: 15px;
    margin-left: 2px;
  }

  .header.open .menu-buttons-row{
    transform: translateX(100%);
  }

  .cart-button img {
  height: 25px;
}
}
